@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800;900&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1400px;
}
h2 {
  font-size: 64px;
  font-weight: 700;
  color: #131313;
  text-align: center;
  margin: 0;
}
h3 {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  margin: 0;
}
h4 {
  margin: 0;
}
p {
  line-height: 26px;
  color: #727272;
}
a {
  text-decoration: none;
}
/*------------ Header-area starts ------------- */
.header-area {
  background: #fff4e7;
  padding: 40px 0;
}
.header-area .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.logo-text a {
  font-size: 45px;
  font-weight: 700;
  color: #131313;
  line-height: 53px;
}
.main-menu ul {
  margin: 0;
  padding: 0;
}
.main-menu ul li {
  display: inline-block;
  list-style: none;
}
.main-menu ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #424242;
  text-decoration: none;
  padding: 20px 13px;
  display: block;
}
/*------------ Header-area end ---------------- */

/*------------ Slider area starts ------------- */
.slider-area {
  background-color: #fff4e7;
  text-align: center;
  padding: 80px 0 40px 0;
}
.slider-text {
  padding: 0 345px;
}
.slider-btn {
  padding: 25px 0 75px 0;
}
.slider-btn .btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px 30px;
  background-color: #ff900e;
  transition: 0.3s;
}
/*------------ Slider area end ---------------- */

/*------------ Team area starts ---------------- */
.team-area {
  padding: 40px 0 40px 0;
}
.team-area .container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
.team-content {
  margin: auto;
  width: 83%;
}
span.title-gray {
  color: #727272;
}
span.title-yello {
  color: #ff900e;
}
.team-text {
  padding-bottom: 20px;
}
/*------------ Team area end ---------------- */

/*------------ Feature area starts ---------------- */
.featur-area {
  padding: 50px 0;
  position: relative;
}
.featur-area .container {
  display: flex;
  margin: auto;
}
.feature-content {
  padding-right: 110px;
}
.feature-content .section-title {
  border-left: 5px solid #ff900e;
  padding: 0 80px 0 15px;
}
.single-feature {
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 20px 25px;
}
.experience {
  background-color: #ff900e;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  padding: 15px 35px 20px 35px;
  position: absolute;
  right: 35%;
  bottom: -1%;
}
.experience h2 {
  color: #fff;
}
.experience p {
  color: #fff;
  margin: 0;
}
/*------------ Feature area end ---------------- */

/*------------ Fact area starts ---------------- */
.fact-area {
  padding: 100px 0;
}
.fact-area .container {
  margin: auto;
}
.all-facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 80px;
  justify-content: space-evenly;
  padding: 50px 30px;
}
.single-fact {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  padding: 30px;
  transition: 0.5s;
}
.single-fact:hover {
  border: 1px solid #ee3364;
  transition: 0.5s;
  box-shadow: 0px 15px 20px 0px;
}
.fact-number h4 {
  font-size: 45px;
  font-weight: 600;
  color: #424242;
  margin: 0;
  padding: 15px;
}
.fact-headign h4 {
  font-size: 20px;
  font-weight: 600;
  color: #727272;
}
/*------------ Fact area end ---------------- */

/*------------ Brand area starts ---------------- */
.brand-area .container {
  margin: auto;
}
.brand-area .section-title {
  text-align: center;
}
.brand-area .brand-text {
  text-align: center;
}
.all-brand {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 20px 0 80px 0;
}
.single-brand img {
  filter: grayscale(100%);
}
/*------------ Brand area end ---------------- */

/*------------ Subscribe area starts ---------------- */
.subscribe-area {
  padding-bottom: 80px;
}
.subscribe-area .container {
  margin: auto;
}
.subscribe-content {
  background-image: -moz-linear-gradient(
    -51deg,
    rgb(47, 50, 212) 0%,
    rgb(113, 66, 247) 100%
  );
  background-image: -webkit-linear-gradient(
    -51deg,
    rgb(47, 50, 212) 0%,
    rgb(113, 66, 247) 100%
  );
  background-image: -ms-linear-gradient(
    -51deg,
    rgb(47, 50, 212) 0%,
    rgb(113, 66, 247) 100%
  );
  padding-top: 60px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.subscribe-content h4 {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  line-height: 1.35;
  margin-left: 100px;
}
.email-area {
  margin-left: 60px;
  position: relative;
}
.email-text input {
  height: 75px;
  width: 680px;
  border-radius: 50px;
  border: none;
  font-size: 18px;
  padding-left: 50px;
}
.email-text input:focus {
  outline: none;
}
.email-btn {
  position: absolute;
  top: 27px;
  right: 170px;
}
.email-btn a:hover {
  background: #fff;
  transition: 0.5s;
  color: #000;
  border: 2px solid #ff62a3;
}
.email-btn .btn {
  background-image: -webkit-linear-gradient(
    178deg,
    rgb(255, 153, 165) 0%,
    rgb(255, 96, 163) 100%
  );
  font-weight: 700;
  color: #fff;
  padding: 20px 30px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 50px;
  text-transform: uppercase;
  transition: 0.3s;
  border: 2px solid #ff62a3;
}
/*------------ Subscribe area end ---------------- */

/*------------ Footer area starts ---------------- */
.footer-area .container {
  margin: auto;
  background-color: #fff4e7;
}
.footer-area p {
  padding: 20px 0;
  font-size: 20px;
  text-align: center;
  margin: 0;
}
/*------------ Footr area end ---------------- */

/* Responsive for mobile device */
@media only screen and (max-width: 576px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }
  /* Header-area */
  .header-area .container {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .logo-text a {
    font-size: 33px;
  }
  .main-menu {
    margin-left: 15px;
  }

  /* slider-area */
  .slider-area {
    padding: 40px 0 40px 0;
  }
  .slider-text {
    padding: 20px 30px;
  }
  .slider-image img {
    width: 90%;
  }

  /* Team-area */
  .team-area {
    text-align: center;
    padding: 40px 0 0 0;
  }
  .team-area .container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .team-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-team-img img {
    width: 90%;
  }
  .team-content {
    text-align: center;
    padding: 30px 40px 0 40px;
    width: 83%;
  }

  /* feature-area */
  .featur-area .container {
    flex-wrap: wrap;
  }
  .feature-content {
    padding: 0 35px;
    text-align: center;
  }
  .feature-content .section-title {
    padding: 0;
  }
  .single-feature {
    width: 70%;
    margin: auto;
  }
  .feature-img {
    text-align: center;
    margin-top: 30px;
  }
  .feature-img img {
    width: 75%;
    height: 90%;
  }
  .experience {
    padding: 15px 25px 15px 25px;
    position: absolute;
    right: 33%;
    bottom: 3%;
  }
  .experience h2 {
    font-size: 35px;
  }

  /* Fact-area */
  .fact-area {
    padding: 40px 0;
    text-align: center;
  }
  .fact-text p br {
    display: none;
  }
  .all-facts {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    padding: 50px 130px;
  }
  .fact-number h4 {
    font-size: 35px;
    padding: 0;
  }
  .fact-headign h4 {
    font-size: 16px;
  }

  /* Brand-area */
  .brand-text p br {
    display: none;
  }
  .all-brand {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    row-gap: 20px;
    padding: 30px 0;
  }

  /* Subscribe-area */
  .subscribe-area {
    padding-bottom: 30px;
  }
  .subscribe-content {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 45px;
    padding-bottom: 100px;
  }
  .subscribe-content .section-title h4 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 25px;
  }
  .email-area {
    margin-left: 0;
    text-align: center;
  }
  .email-text input {
    height: 50px;
    width: 250px;
    padding-left: 35px;
  }
  .email-btn {
    position: inherit;
    top: 35px;
    right: 0;
    text-align: center;
  }
  .email-btn .btn {
    padding: 10px 20px;
  }
  /* Footer-area */
  .footer-area p {
    font-size: 16px;
  }
}
